<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>UserSignUpPage</display-name>
  <welcome-file-list>
    <welcome-file>User-Register.jsp</welcome-file>
    
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registerservlet</display-name>
    <servlet-name>Registerservlet</servlet-name>
    <servlet-class>com.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registerservlet</servlet-name>
    <url-pattern>/Registerservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registerservlet1</display-name>
    <servlet-name>Registerservlet1</servlet-name>
    <servlet-class>com.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registerservlet1</servlet-name>
    <url-pattern>/Registerservlet1</url-pattern>
  </servlet-mapping>
</web-app>